.container {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background: black;
    position: fixed;
    width: 100%;
}

.selectModel:focus {
    outline: none;
    border: none;
}